.popup__title {
  color: #000000;
  max-width: calc(430px*(358/430));
  align-self: flex-start;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21;
  margin: 34px 0 46px;
  padding: 0 36px 0;
}

@media (max-width: 767px) {
  .popup__title {
    max-width: 62.5vw;
    font-size: 18px;
    line-height: 1.22;
    margin: 27px 0 27px;
    padding: 0 calc((75vw - 62.5vw)/2) 0;
  }
}
