.profile__avatar-edit-button {
  position: relative;
  overflow: hidden;
  padding: 0;
  width: 120px;
  height: 120px;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: none;
  border-radius: 130px;
  margin: 0 30px 0 0;
}

@media (max-width: 767px) {
  .profile__avatar-edit-button {
    margin: 0 0 14px 0;
  }
}

.profile__avatar-edit-button::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  content: '';
  opacity: 1;
}

.profile__avatar-edit-button:hover::after {
  background: rgba(0, 0, 0, 0.8);
  background-image: url(../../../images/profile-edit.svg);
  background-size: 26px 26px;
  background-position: center;
  background-repeat: no-repeat;
}
