.profile__subtitle {
  max-width: 336px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 -3px;
  grid-area: subtitle;
}

@media (max-width: 767px) {
  .profile__subtitle {
    max-width: 220px;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
  }
}
