@import url(./__item/cards-list__item.css);
@import url(./__image/cards-list__image.css);
@import url(./__area/cards-list__area.css);
@import url(./__title/cards-list__title.css);
@import url(./__like-area/cards-list__like-area.css);
@import url(./__like-icon/cards-list__like-icon.css);
@import url(./__like-amount-text/cards-list__like-amount-text.css);
@import url(./__delete-icon/cards-list__delete-icon.css);
.cards-list {
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: repeat(auto, 361px);
  grid-column-gap: 18px;
  grid-row-gap: 21px;
  justify-content: center;
  margin: 0 auto;
  padding-left: 0;
  list-style: none;
}

@media (max-width: 1023px) {
  .cards-list {
    grid-template-columns: repeat(2, 282px);
    grid-template-rows: repeat(auto, 361px);
  }
}

@media (max-width: 767px) {
  .cards-list {
    grid-template-columns: 282px;
    grid-template-rows: repeat(auto, 361px);
    grid-column-gap: 0;
    grid-row-gap: 20px;
  }
}
