.profile__edit-button {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/profile-edit.svg);
  background-color: #000000;
  background-size: 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #ffffff;
  padding: 0;
  align-self: flex-end;
  grid-area: edit-button;
}

.profile__edit-button:hover {
  border: 1px solid rgba(255, 255, 255, 0.6);
  cursor: pointer;
  opacity: 0.6;
}

@media (max-width: 767px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 8px 8px;
  }
}
