.profile__area {
  min-width: 486px;
  width: calc(100vw*(486/1280));
  max-width: 486px;
  display: flex;
  flex-direction: row;
}

@media (max-width: 767px) {
  .profile__area {
    width: calc(100vw*(282/320));
    flex-direction: column;
    align-items: center;
  }
}
