.cards-list__delete-icon {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19px;
  background-image: url(../../../images/element-basket.svg);
  background-color: transparent;
  background-size: content;
  border: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
}

.cards-list__delete-icon:hover {
  cursor: pointer;
  opacity: 0.6;
}
