@import url(./_type/popup_type_profile.css);
@import url(./_type/popup_type_cards.css);
@import url(./_type/popup_type_card-deletion.css);
@import url(./_type/popup_type_avatar.css);
@import url(./_type/popup_type_images.css);
@import url(./__container/popup__container.css);
@import url(./__container/_type/popup__container_type_profile.css);
@import url(./__container/_type/popup__container_type_cards.css);
@import url(./__container/_type/popup__container_type_card-deletion.css);
@import url(./__container/_type/popup__container_type_avatar.css);
@import url(./__image-container/popup__image-container.css);
@import url(./__title/popup__title.css);
@import url(./__title/_type/popup__title_type_card-deletion.css);
@import url(./__title/_type/popup__title_type_avatar.css);
@import url(./__field/popup__field.css);
@import url(./__field/_el/popup__field_el_name.css);
@import url(./__field/_el/popup__field_el_profession.css);
@import url(./__field/_el/popup__field_el_place.css);
@import url(./__field/_el/popup__field_el_link.css);
@import url(./__field/_el/popup__field_el_avatar.css);
@import url(./__field/_type/popup__field_type_error.css);
@import url(./__error/popup__error.css);
@import url(./__save-button/popup__save-button.css);
@import url(./__save-button/_type/popup__save-button_type_card-deletion.css);
@import url(./__save-button/_type/popup__save-button_type_avatar.css);
@import url(./__save-button/_disabled/popup__save-button_disabled.css);
@import url(./__image/popup__image.css);
@import url(./__caption/popup__caption.css);
@import url(./__close-icon/popup__close-icon.css);
@import url(./__close-icon/_type/popup__close-icon_type_profile.css);
@import url(./__close-icon/_type/popup__close-icon_type_cards.css);
@import url(./__close-icon/_type/popup__close-icon_type_images.css);
@import url(./__close-icon/_type/popup__close-icon_type_card-deletion.css);
@import url(./__close-icon/_type/popup__close-icon_type_avatar.css);
.popup {
  position: fixed;
  background-color: rgba(0, 0, 0, .5);
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.4s linear;
  -moz-transition: all 0.4s;
}
