@import url(./_el/popup__field_el_name.css);
@import url(./_el/popup__field_el_profession.css);
@import url(./_el/popup__field_el_place.css);
@import url(./_el/popup__field_el_link.css);
.popup__field {
  width: calc(430px*(358/430));
  height: 19px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  padding: 0;
  padding-bottom: 8px;
  margin-bottom: 5px;
}

.popup__field::-moz-placeholder {
  color: #c4c4c4;
}

.popup__field::-webkit-input-placeholder {
  color: #c4c4c4;
}

@media (max-width: 767px) {
  .popup__field {
    width: 62.5vw;
    height: 16px;
    font-size: 12px;
    line-height: 1.25;
    margin-bottom: 1px;
  }
}
